<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="<%= stylePath %>" />
    </head>
    <body>
        <canvas id="space_canvas"></canvas>
        <script type="text/javascript" src="<%= scriptPath %>"></script>
    </body>
</html>